@import url(https://fonts.googleapis.com/css?family=Roboto+Flex:regular);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(134, 135, 136, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  min-width: 100%;
}

.header {
  padding: 20px 0;
  margin: 0 auto;
}

.header h1 {
  color: rgba(34, 35, 36, 0.9);
  font-size: 44px;
  font-weight: 200;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

input {
  display: none;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.slides {
  display: flex;
  border-radius: 10px 10px 0 0;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

.slides-container {
  display: flex;
  width: 100%;
  margin-left: 0;
  transition: ease-out 1s;
}

img {
  min-width: 100%;
  aspect-ratio: 16 / 9;
}

.caption {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  padding: 15px 0;
  border-radius: 0 0 10px 10px;
}

.caption-container {
  display: flex;
  width: 100%;
  font-size: 22px;
  margin-left: 20px;
}

.caption-container span {
  font-size: 32px;
  transition: opacity 3s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#img_1:checked ~ .slider-container .slides .slides-container {
  margin-left: 0;
}
#img_2:checked ~ .slider-container .slides .slides-container {
  margin-left: -100%;
}
#img_3:checked ~ .slider-container .slides .slides-container {
  margin-left: -200%;
}
#img_4:checked ~ .slider-container .slides .slides-container {
  margin-left: -300%;
}

/* ------------------------------------------------------- */
#img_1:checked
  ~ .slider-container
  .caption
  .caption-container
  span:nth-child(1) {
  display: flex;
  opacity: 1;
  height: auto;
  min-width: 100%;
}

#img_1:checked
  ~ .slider-container
  .caption
  .controls-container
  .control-btns
  .btn:nth-child(1)
  .btn-inner {
  background-color: blueviolet;
  border: 2px solid black;
}

/* -------------------------------------------------------- */
#img_2:checked
  ~ .slider-container
  .caption
  .caption-container
  span:nth-child(2) {
  display: flex;
  opacity: 1;
  height: auto;
  min-width: 100%;
}
#img_2:checked
  ~ .slider-container
  .caption
  .controls-container
  .control-btns
  .btn:nth-child(2)
  .btn-inner {
  background-color: blueviolet;
  border: 2px solid black;
}

/* ------------------------------------------------------------ */
#img_3:checked
  ~ .slider-container
  .caption
  .caption-container
  span:nth-child(3) {
  display: flex;
  opacity: 1;
  height: auto;
  min-width: 100%;
}

#img_3:checked
  ~ .slider-container
  .caption
  .controls-container
  .control-btns
  .btn:nth-child(3)
  .btn-inner {
  background-color: blueviolet;
  border: 2px solid black;
}

/* ------------------------------------------------------------------ */
#img_4:checked
  ~ .slider-container
  .caption
  .caption-container
  span:nth-child(4) {
  display: flex;
  opacity: 1;
  height: auto;
  min-width: 100%;
}

#img_4:checked
  ~ .slider-container
  .caption
  .controls-container
  .control-btns
  .btn:nth-child(4)
  .btn-inner {
  background-color: blueviolet;
  border: 2px solid black;
}

.control-btns {
  display: flex;
  margin-right: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-inner {
  padding: 5px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}

.btn-inner:hover {
  border: 2px solid black;
  background-color: white;
}

.btn-inner:last-child {
  margin-right: 0;
}

#btn_1:hover,
#btn_2:hover,
#btn_3:hover,
#btn_4:hover {
  background-color: white;
  border: 2px solid blueviolet;
}

#img_1:checked ~ img {
  width: 50%;
}

.footer {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .header h1 {
    font-size: 38px;
  }
  .caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .caption-container {
    justify-content: center;
    order: 1;
    margin-top: 20px;
  }
  .caption-container span {
    text-align: center;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 22px;
  }
  .control-btns {
    margin-right: 0;
  }
}
